asgiref==3.5.2
backports.zoneinfo==0.2.1
cffi==1.15.0
Django==4.1.4
django-cors-headers==3.13.0
django-discord-integration==1.1.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
et-xmlfile==1.1.0
greenlet==0.4.13
gunicorn==20.1.0
hpy==0.0.3
openpyxl==3.1.2
PyJWT==2.7.0
pytz==2022.6
readline==6.2.4.1
sqlparse==0.4.3
